* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #dde3f1;
}

/* p {
  color: #4068c4;
  display: flex;
} */

a {
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  margin: 1rem 0;
  padding: .75rem;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

h2 {
  color: #4068c4;
  font-weight: 900;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.2em;
  background-color: #dde3f1;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
}

header a {
  color: #224086;
  margin: 0;
}

/* Hero-Section */
.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 3em;
}

.hero-section img {
  width: 15rem;
  border: .25em solid #3e63b8;
  box-shadow: #557ddc -.75em .5em .125rem;
  border-radius: 100%;
}

.hero-description {
  color: #224086;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-cv {
  background-color: #4068c4;
  color: #dde3f1;
  border-radius: 2rem;
  width: 60%;
  transition: all .3s ease;
}

/* About Me */
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 2rem;
}

.about-section img {
  width: 12rem;
  border: .25em solid #3e63b8;
  box-shadow: #557ddc -.75em .5em 0;
  border-radius: 50em;
}

.about-description {
  color: #224086;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1em;
}

.about-section .link-repo {
  display: inline-block;
  color: #dde3f1;
  background-color: #4068c4;
  border-radius: 2rem;
  /* width: 30%; */
  font-weight: bold;
}

/* Projects */
.skills-section, .projects-section {
  background-color: #dde3f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 2rem;
}

.skills-section .skills-container,
.projects-section .projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 50%;
}

.skills-section .skill,
.projects-section .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75em;
  font-weight: 900;
}

.skills-section .skill p,
.projects-section .project p {
  font-weight: 900;
  color: #224086;
}

.projects-section .project a {
  display: flex;
  flex-direction: column;
  gap: .75em;
  margin: 0;
}

.skills-section .skill img,
.projects-section .project img {
  width: 5em;
}

/* Footer */
footer {
  background-color: #7498ee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

footer p {
  color: #dde3f1;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #dde3f1;
  font-size: 1.4em;
  margin: 0;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
  
  header .title {
    display: none;
  }

  .hero-section {
    flex-direction: column;
    gap: 2em;
    height: 90vh;
  }

  .hero-section img {
    width: 15rem;
  }

  .hero-description {
    align-items: center;
  }

  .about-section {
    flex-direction: column;
    gap: 2em;
  }

  .about-section img {
    width: 8rem;
  }

  .about-description {
    width: 90%;
    text-align: justify;
  }

  .skills-section .skills-container,
  .projects-section .projects-container {
    gap: 1em;
    flex-wrap: wrap;
  }

  .skills-section .skills-container,
  .projects-section .projects-container {
    width: 80%;
  }

  footer {
    padding: .5rem;
    flex-direction: column-reverse;
  }

  footer a {
    margin: 0;
  }

  footer p {
    margin-bottom: .5rem;
  }
}